.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 1024px;
  width: 50%;
  border-radius: 4px;
  overflow-y: auto;
}
@media screen and (max-width: 767px) {
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
      width: 80%;
  }
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}
.modal__close {
  cursor: pointer;
}
.modal__memo {
  padding-top: 1.5rem;
}
.modal__btn {
  align-self: flex-start;
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.MuiDialogActions-root.css-knqc4i-MuiDialogActions-root {
  padding: 16px;
}
.modal__btn:focus,
.modal__btn:hover {
  opacity: 0.8;
}
.modal__btn.select {
  background-color: #999;
  color: #fff
}